<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <script src='/js/jquery-3.1.0.js'></script>
    <script src='/js/bootstrap.js'></script>
    <script src='/js/scripts.js'></script>
    <title>Relp 2.0</title>
</head>
    <body>
        <div class='container'>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cuisineEditNav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href='/'><img class='navbar-brand' src='/../img/rice.png'></a>
                  <a class="navbar-brand" href="/"> RELP</a>
                </div>

                <div class="collapse navbar-collapse" id="cuisineEditNav">
                  <form action="/search_results" method="post" class="navbar-form navbar-right">
                      <div class='form-group'>
                          <input type="text" name="search_term" class='form-control' placeholder='Search...' required>
                      </div>
                      <button type="submit" class='btn btn-primary'>Search</button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href='/cuisine/{{ cuisine.getId }}'>Back</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuisines <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          {% for cuisine in cuisines %}
                              <li><a href="/cuisine/{{ cuisine.getId }}"> {{ cuisine.getName }}</a></li>
                          {% endfor %}
                        <li role="separator" class="divider"></li>
                        <li><form action="/" method="post" class='navbar-form'>
                            <div class='input-group'>
                                <input type="text" name="new_cuisine" class='form-control' placeholder='New Cuisine...' required>
                                <span class="input-group-btn">
                                    <button type="submit" class='btn btn-primary'>+</button>
                                </span>
                            </div>
                        </form></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <h1>Restaurant Reviewer</h1>
            <h2>Edit {{ cuisine.getName }}</h2>
            <form class="" action="/cuisine/{{ cuisine.getId }}/edit" method="post">
                <input type="hidden" name="_method" value="patch">
                <label for="">Cuisine Name</label>
                <input type="text" name="edit_name" value="{{ cuisine.getName }}">
                <button type="submit" name="button">Edit</button>
            </form>
            {% if error == 'error' %}
                <h3>That cuisine name already exists!</h3>
            {% endif %}

            <form class="" action="/cuisine/{{ cuisine.getId }}/delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete Cuisine</button>
            </form>
        </div>
    </body>
</html>
