<!DOCTYPE html>
<html>
    <body>
        <div class='container'>
            <h1>Restaurant Reviewer</h1>
            <h2>Edit {{ cuisine.getName }}</h2>
            <form class="" action="/cuisine/{{ cuisine.getId }}/edit" method="post">
                <input type="hidden" name="_method" value="patch">
                <label for="">Cuisine Name</label>
                <input type="text" name="edit_name" value="{{ cuisine.getName }}">
                <button type="submit" name="button">Edit</button>
            </form>
            {% if error == 'error' %}
                <h3>That cuisine name already exists!</h3>
            {% endif %}

            <a href="/">Home</a>
            <a href='/cuisine/{{ cuisine.getId }}'>Back</a>
            <form class="" action="/cuisine/{{ cuisine.getId }}/delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete</button>
            </form>
        </div>
    </body>
</html>
