<!DOCTYPE html>
<html>
    <body>
        <div class='container'>
            <h1>Restaurant Reviewer</h1>
            <h2>{{ restaurant.getName }}</h2>
            <h4>{{ cuisine.getName }}</h4>
            <img class='img-main' src='{{ restaurant.getPicture }}'>
            <p>Location: {{ restaurant.getAddress }}</p>
            <p>Phone Number: {{ restaurant.getPhone }}</p>
            {% if restaurant.getRating == 0 %}
                <h3>No Ratings Yet</h3>
            {% else %}
                <h3>Rating: {{ restaurant.getRating }}</h3>
                <h4>Number of Reviews: {{ restaurant.getRatingCount }}</h4>
            {% endif %}
            <form class="" action="/restaurant/{{ restaurant.getId }}/update_rating" method="post">
                <!-- <input type="hidden" name="_method" value="patch"> -->
                <div class='form-group'>
                    <label>Rate {{ restaurant.getName }}:</label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="1">1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="2">2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="3">3
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="4">4
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="5">5
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="6">6
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="7">7
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="8">8
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="9">9
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user_rating" value="10" checked>10
                    </label>
                </div>
                <div class='form-group'>
                    <label for="author">Name</label>
                    <input type="text" name="author" value="">
                </div>
                <div class='form-group'>
                    <label for="description">Comments</label>
                    <input type="text" name="description" value="">
                </div>
                <button type="submit">Add Rating</button>
            </form>

            {% if reviews is not empty %}
                <ul>
                    {% for review in reviews %}
                        <li>
                            <h4>{{ review.getAuthor }}</h4>
                            <h4>{{ review.getRating }}</h4>
                            <p>{{ review.getDescription }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <a href="/">Home</a>
            <a href='/cuisine/{{ cuisine.getId }}'>Back</a>
            <a href='/restaurant/{{ restaurant.getId }}/edit'>Edit</a>
        </div>
    </body>
</html>
