<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Relp 2.0</title>
    </head>
    <body>
        <h1>Restaurant Reviewer</h1>
        <h2>{{ restaurant.getName }}</h2>
        <h4>{{ cuisine.getName }}</h4>

        <p>Location: {{ restaurant.getAddress }}</p>
        <p>Phone Number: {{ restaurant.getPhone }}</p>
        
        <a href="/">Home</a>
        <a href='/cuisine/{{ cuisine.getId }}'>Back</a>
    </body>
</html>
