<!DOCTYPE html>
<html>
    <body>
        <div class='container'>
            <h1>Restaurant Reviewer</h1>
            <h2>Edit {{ cuisine.getName }}</h2>
            <form class="" action="/restaurant/{{ restaurant.getId }}" method="post">
                <input type='hidden' name='_method' value='patch'>
                <label for="edit_name">Name</label>
                <input type="text" name="edit_name" value='{{ restaurant.getName }}' required>
                <label for="edit_address">Location</label>
                <input type="text" name="edit_address" value='{{ restaurant.getAddress }}'>
                <label for="edit_phone">Phone Number</label>
                <input type="text" name="edit_phone" value='{{ restaurant.getPhone }}'>
                <label for="edit_picture">Image URL</label>
                <input type="text" name="edit_picture" value='{{ restaurant.getPicture }}'>
                <input type="hidden" name="edit_cuisine_id" value="{{ cuisine.getId }}">
                <button type="submit" name="button">Edit</button>
            </form>
            <a href="/">Home</a>
            <a href='/restaurant/{{ restaurant.getId }}'>Back</a>
            <form class="" action="/restaurant/{{ restaurant.getId }}/delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete</button>
            </form>
        </div>
    </body>
</html>
