<!DOCTYPE html>
<html>
    <body>
        <div class='container'>
            <h1>Restaurant Reviewer</h1>
            <h2>Search Results</h2>
            <div class="restaurants">
                {% if restaurants %}
                    <ul>
                        {% for restaurant in restaurants %}
                            {% if restaurant.getPicture != '' %}
                                <img class='img-small' src='{{ restaurant.getPicture }}'>
                            {% endif %}
                            <a href="/restaurant/{{ restaurant.getId }}"><li> {{ restaurant.getName }} -
                                {% if restaurant.getRating == 0 %}
                                    (No Ratings Yet)
                                {% else %}
                                    Rating: {{ restaurant.getRating }} (Reviews: {{ restaurant.getRatingCount }})
                                {% endif %}
                            </li></a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h3>There are no restaurants matching your search.</h3>
                {% endif %}
            </div>
            <a href="/">Back</a>
        </div>
    </body>
</html>
